extends ./../layouts/base

block vars
	- currentUrl = 'exhibition-klark.html'
	- title = 'Featuring Klark'
	- artistName = 'Klark Smith'
	- artistWebsite = 'klarksmith-art.com'
	- artistPictures = '../../assets/content/artists/artist_1/art'
	- artData = {first:{title: "ex",description: "Consequat sit ad ut labore ex irure magna nostrud id ut officia. Irure id quis dolore non cillum anim culpa veniam ex Lorem quis adipisicing. Labore id et veniam cillum velit irure veniam nulla incididunt exercitation fugiat.",date: 1999,image:`${artistPictures}/1.jpg`},second:{title: "nostrud",description: "Ullamco Lorem ullamco aute fugiat sunt non ullamco anim fugiat consectetur est nostrud exercitation exercitation. Laborum ut magna occaecat incididunt laborum minim Lorem amet anim in veniam. Ut culpa eu aliqua deserunt.",date: 2012,image:`${artistPictures}/2.jpg`},third:{title: "qui",description: "Minim id pariatur veniam irure ea culpa mollit non in. Aliquip tempor minim pariatur nostrud sint adipisicing fugiat cillum magna ineiusmod. Culpa eu amet ex qui laboris elit eu ullamco sint qui pariatur reprehenderit ea deserunt.",date: 2016,image:`${artistPictures}/3.jpg`},fourth:{title: "elit",description: "Nulla et dolore officia tempor fugiat magna est pariatur magna magna dolor. Aliquip nostrud aute non reprehenderit. Veniam quiconsequat fugiat excepteur anim tempor nostrud in ullamco id. Incididunt sint aliquip reprehenderit elit ad ea. Nostrud aute nisi fugiatconsectetur anim anim irure. Ut fugiat culpa amet non sit nostrud officia.",date:2011 ,image:`${artistPictures}/4.jpg`},fifth:{title: "laboris",description: "Fugiat ipsum occaecat velit eiusmod amet exercitation eu Lorem minim ullamco eu. Et ut ullamco excepteur elit. Ut quis commodo eadolor ut. Laborum cupidatat magna pariatur aliqua consectetur.",date: 2006,image:`${artistPictures}/5.jpg`},sixth:{title: "id",description: "Duis adipisicing magna do eiusmod do. Ea non enim laboris laboris dolor nulla non ullamco dolor commodo eiusmod cupidatat. Enimreprehenderit culpa cillum do sint non reprehenderit.",date:2000 ,image:`${artistPictures}/6.jpg`}}

block content
	main(role="main")
			h1.page-title= title